*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url('');
    background-position: center;
    padding : 10px 10%;
    overflow : hidden;
    position: relative;
   
}

.insta{
    display: inline-block;
    text-decoration: none;
    padding:  14px 40px;
    color: #fff;
    background-image:linear-gradient( 45deg, #cacaca, #d3d3d3);
    font-size: 18px;
    border-radius: 30px;
    border-top-right-radius: 0;
}
.git{
    text-decoration: none;
    color: #070707;
    margin-right: 20px;
    font-weight: 400;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1 {
    font-size: 70px;
    color: #222;
}
.content p{
margin: 10px 0 30px ;
color: #333;
}
.r{
    color:#01d66be0;
    border-color: #000000;
}
.in:hover{
border-top-right-radius: 30px;
}
.in{
    display: inline-block;
    text-decoration: none;
    padding:  14px 40px;
    color: #fff;
    background-image:linear-gradient( 45deg, #070707, #000000);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.pic{
    width: 445px;
    position: absolute;
    bottom: 0;
    right: 10%;
}
.pic{
    opacity: 0;
    transform: translate(30px);
    animation:moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.an{
    
    opacity: 0;
    transform: translateY(30px);
    animation:moveup 1s linear forwards;
}
.in{
    opacity: 0;
    transform: translateY(30px);
    animation:moveup 0s linear forwards;
}